{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}

    <p class="text-center display-3 m-2">About</p>
    <div class="text-center light-blue glass">
        <p class="display-6">This is secure, scalable, responsive, mobile-first, maintainable, reliable, cloud-native,
            containerized,
            with
            CI/CD automation implemented multi-Tenant Data Analysis application.</p>
        <hr>
        <p class="display-6">Get insights about your product sales by generating report PDFs with 3 different chart
            choices - (Bar, Line and Pie
            charts) and 2 result choices - (By Transaction and Sales Date) from the sales list, which is loaded by
            uploading a
            particularly formatted CSV file.</p>
        <hr>
        <h2>This fullstack application is a capstone project to showcase my skills.</h2>
    </div>
{% endblock content %}