{% load static %}
{% url 'sales:home' as path_to_home %}
{% url 'reports:from-file' as path_to_from_file %}
{% url 'sales:list' as path_to_sales %}
{% url 'reports:main' as path_to_reports %}
{% url 'profiles:my_profile' as path_to_my_profile %}


<nav class="navbar navbar-expand-sm navbar-light fixed-top mask-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" class="logo-sm" alt="Analytics"></a>
        <button class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item m-1">
                    <a class="nav-link {% if request.path == path_to_home %}active" aria-current="page{% endif %}"
                       href="{{ path_to_home }}">Home</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link {% if request.path == path_to_from_file %}active" aria-current="page{% endif %}"
                       href="{{ path_to_from_file }}">Upload CSV</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link {% if request.path == path_to_sales %}active" aria-current="page{% endif %}"
                       href="{{ path_to_sales }}">Sales-List</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link {% if request.path == path_to_reports %}active" aria-current="page{% endif %}"
                       href="{{ path_to_reports }}">Reports</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item m-1 dropdown">
                        <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                             data-bs-toggle="dropdown"
                             aria-expanded="false">
                            <img src="{{ request.user.profile.avatar.url }}" class="avatar-sm text-center"
                                 alt="{{ request.user }}">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item {% if request.path == path_to_my_profile %}active{% endif %}"
                                   href="{{ path_to_my_profile }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
