{% extends "base.html" %}

{% block title %}
    Detail {{ object.transaction_id }}
{% endblock title %}

{% block content %}

    <div class="row text-center m-4 border light-blue glass">
        <div class="col display-6">
            Transaction ID: <b>{{ object.transaction_id }}</b>
        </div>
        <div class="col text-black-50 h3">
            <img src="{{ object.customer.logo.url }}" class="img-fluid" alt="Image of {{ object.customer.name }}">
        </div>
        <div class="col display-6">
            Salesman: <b>{{ object.salesman.user.username }}</b>
        </div>
    </div>

    <table class="table table-bordered table-hover table-sm light-blue glass">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Customer</th>
        </tr>
        </thead>
        <tbody>
        {% for pos in object.get_positions %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ pos.product.name }}</td>
                <td>{{ pos.quantity }}</td>
                <td>{{ pos.price }}</td>
                <td>{{ pos.get_sales_customer }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock content %}