{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Signup
{% endblock title %}

{% block content %}

    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}
        <h1 class="text-center m-3">Sign Up</h1>
        <div class="form-style form-glass">
            <div class="text-center p-3">
                {{ form|crispy }}
                <button type="submit" class="btn btn-grad">Sign Up</button>
            </div>
        </div>
    </form>

    <div class="mt-4 text-center">
        <h5>
            Do you have an account? <a href="{% url 'login' %}">Login</a>
        </h5>
    </div>

{% endblock content %}